<h3>Fill out the following questions to find students like you! </h3>
<p> If you are a high school student, select answers based on your interests. If you are a
college student, select activities that you are a part of. </p><br />

<div class= "form">
	<%= render 'form' %>
</div>
<%= link_to 'Back', users_path %>
